.container {
  margin: 20px auto;
  width: 600px;
  padding: 0px 20px 20px 20px;
  border: 2px dotted teal;
  border-radius: 15px 60px;
}

.header {
  display: inline-block;
  position: relative;
  text-align: center;
  border-bottom: 2px solid #003366;
}

nav {
  display: inline-block;
}

.form {
  display: block;
  position: relative;
  margin-top: 10px;
  text-align: center;
}

form{
  display: inline-block;
}

footer{

}

.choice {
  display: block;
  margin-left: 25px;
}
