<div class="container">
  <h2>Sign Up:</h2>
  <form class="form" onsubmit="return validateCreateUser()" name="create_user"action='<%= user_new %>' method='post'>
  	<table>
	  	<tr>
	  		<td><label for='name'>Full Name:</label></td>
	    	<td><input id="full_name" type='text' name='name' placeholder="Name"></td>
        <td class="full_name"></td>
	    </tr>
	    <tr class="email">
	    	<td><label for='email'>Email:</label></td>
	    	<td><input id="email" type='email' name='email' placeholder="Email"></td>
	    </tr>
	    <tr class="password">
	    	<td><label for='password'>Password:</label></td>
	    	<td><input id="password" type='password' name='password' placeholder="Password"></p></td>
	    </tr>
    </table>
	    <input type='submit' value='Create Account'>
  </form>
</div>
