<div class="container">
  <form class="form" action='<%= user_new %>' method='post'>
    <input type='text' name='name' placeholder="Name"><p id="name"></p>
    <input type='email' name='email' placeholder="Email"><p id="email"></p>
    <input type='password' name='password' placeholder="Password"><p id="password"></p>
    <input type='submit' value='Create Account'>
  </form>
</div>
