<form action='<%= user_new %>' method='post'>
  <input type='text' name='name' placeholder="Name">
  <input type='text' name='email' placeholder="Email">
  <input type='text' name='password' placeholder="Password">
  <input type='submit' value='Create Account'>


</form>
