<form action = '/surveys' method = "post">
	<label for="survey[name]">New Survey:</label>
	<input name="survey[name]" type="text" placeholder="Survey Name">
	<input type="submit" value="Create">
</form>