<div class="container">
	<h1><%=@survey.name%></h1>

	<% @survey.questions.each do |question| %>
		<p>Question: <%= question.prompt %></p>
		<ul>
			<% question.choices.each do |choice| %>
				<li><%= choice.name %> - <%= choice.responses.count * 100 / @survey.responses.count %> %</li>
			<% end %>
		</ul>
	<% end %>

</div>