<div class="container">
	<h1><%=@survey.name%></h1>

	<% @survey.questions.each do |question| %>
		<p>Question: <%= question.prompt %></p>
		<ul>
			<% question.choices.each do |choice| %>
				<li><%= choice.name %> - 
				<% if question.responses.count > 0 %>
					<%= choice.responses.count * 100 / question.responses.count %>
				<% else %>
					0
				<% end %>
				%</li>
			<% end %>
		</ul>
	<% end %>

</div>