<form id="nav" action = "/" method = "post">
  <input type = "text" name = "email" placeholder = "email"></input>
  <input type = "password" name = "password" placeholder = "password"></input>
  <input type = "submit" value = "Login"></input>
</form>

<a href="<%= user_new %>">Create an Account</a>
