<div class="container">
  <h1>Welcome to SurveyDove</h1>
  <p>SurveyDove is an online application that allows our users to create and participate in surveys. Please sign in or create an account to join in the fun.</p>
</div>
